.section1 {
  background-image: url(./background-learner.jpg);
  transition: background-image .25s ease-in-out;
  text-align: center;
  & h1 {
    color: #fff;
    font-size: 35px;
  }
  & h2 {
    color: #faf7f4;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 15px;
    padding: 0 28px;
  }
  & .buttonWrapper {
    width: 290px;
    margin: auto;
    margin-top: 30px;
  }

  & .startButton {
    margin: auto;
    text-shadow: none;
    background-color: #669f25;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-family: inherit;
    line-height: 30px;
    padding: 5px;
    width: auto;
    border: 0;
    font-weight: 600;
  }
  & .baseButton {
    margin-top: 10px;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-family: inherit;
    line-height: 30px;
    padding: 5px;
    width: auto;
    -webkit-font-smoothing: antialiased;
    border: 2px solid #fff;

  }
}
